footer
  hr
  .container.text-center
    p 
      .fb-page(data-href=fbPageUrl, data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true') 
        blockquote(cite=fbPageUrl, class='fb-xfbml-parse-ignore')
          a(href=fbPageUrl) #{fbPageName}
    p © 2018 #{companyName}. All Rights Reserved
