doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - CariKijo
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)

    //- Facebook data
    if metaFb
      each meta in metaFb
        meta(property=meta.property, content!=meta.content)

    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(async defer src="https://buttons.github.io/buttons.js")
    script.
      let fb_app_id = '#{fbAppId}';
      let ga_tracking_id = '#{gaTrackingId}';
    script(src='/js/main.js')

    //- Google Analytics
    if gaTrackingId
      script(src='https://www.googletagmanager.com/gtag/js?id='+gaTrackingId async defer)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', ga_tracking_id);
    
    //- module or page specific that requires client side script 
    //- need to be assigned to the variable "includeScript" in the Controller
    if includeScripts
      each script in includeScripts
        script(src=script)
