#postImage
  if job
    p
      img.img-responsive.img-thumbnail.center-block(src!=job.publishImgUrl, alt="Post Image")
#customContent
#standardContent
  //- .form-group
  //-   label.col-sm-3.col-xs-3.control-label Nama Jawatan
  //-   .col-sm-7.col-xs-9
  //-     strong 
  //-       span(id='job-title') 
  //-         if job
  //-           | !{job.title}
  .form-group
    label.col-sm-3.col-xs-3.control-label Keterangan
    .col-sm-7.col-xs-9.form-control-static
      if job
        textarea.form-control.no-border(rows="8") !{job.description}
      else
        textarea.form-control.no-border(id="job-description", rows="8")
  .form-group
    label.col-sm-3.col-xs-3.control-label Nama Majikan
    .col-sm-7.col-xs-9.form-control-static
      strong 
        span(id='job-employer-name')
          if job
            | !{job.employer.name}
  .form-group
    label.col-sm-3.col-xs-3.control-label Hubungi
    .col-sm-7.col-xs-9.form-control-static
      strong 
        span(id='job-employer-contact')
          if job
            | !{job.employer.contact}
  .form-group
    label.col-sm-3.col-xs-3.control-label Gaji
    .col-sm-7.col-xs-9.form-control-static
      strong 
        span(id='job-salary')
          if job
            | !{job.salary}
  .form-group
    label.col-sm-3.col-xs-3.control-label Jenis Kerja
    .col-sm-7.col-xs-9.form-control-static
      strong 
        span(id='job-empType')
          if job
            | !{job.empTypeDisplay}
  .form-group
    label.col-sm-3.col-xs-3.control-label Bahasa
    .col-sm-7.col-xs-9.form-control-static
      strong 
        span(id='job-language')
          if job
            | !{job.languageDisplay}
  .form-group
    label.col-sm-3.col-xs-3.control-label Tempat Kerja
    .col-sm-7.col-xs-9.form-control-static
      strong 
        span(id='job-location')
          if job
            | !{job.locationDisplay}
  .form-group
    label.col-sm-3.col-xs-3.control-label Tarikh Tutup
    .col-sm-7.col-xs-9.form-control-static
      strong 
        span(id='job-closing')
          if job
            | !{job.closing}
  .form-group
    label.col-sm-3.col-xs-3.control-label Lain-lain
    .col-sm-7.col-xs-9
      if job
        textarea.form-control.no-border(rows="5") !{job.otherInfo}
      else
        textarea.form-control.no-border(id="job-otherInfo", rows="5")
