.panel.panel-default
  .panel-heading 
    h3.panel-title !{job.title}
  if (job.postType == 'FB')
    .panel-body.post-preview
      .text-center
        .fb-post(data-href!=job.fbPostUrl)
  else if job.customContent
    .panel-body.post-preview
      .custom-content.custom-content-raw !{job.customContent}
  else
    table.table.table-condensed.post-preview
      if job.imgUrl
        tr
          td(colspan='4', align='center')
            img.img-responsive.img-thumbnail(src!=job.publishImgUrl, alt="Post Image")
      if job.description
        tr
          td(colspan='4', align='left')
            | !{job.descriptionDisplay}
      tr
        td(width='15%')
          label.control-label Majikan
        td(width='35%')
          | !{job.employer.name}
        td(width='15%')
          label.control-label Hubungi
        td(width='35%')
          | !{job.employer.contact}
      tr
        td
          label.control-label Gaji
        td 
          | !{job.salary}
        td
          label.control-label Jenis Kerja
        td
          | !{job.empTypeDisplay}
      tr
        td
          label.control-label Tempat Kerja
        td 
          | !{job.locationDisplay}
        td
          label.control-label Bahasa
        td
          | !{job.languageDisplay}
      if job.closing
        tr
          td(colspan='4', align='center') 
            strong Tarikh Tutup: !{job.closing}
      if job.otherInfoDisplay
        tr
          td(colspan='4', align='left') !{job.otherInfoDisplay}
  .panel-footer
    if (job.postType == 'FB')
      .addthis_inline_share_toolbox(
        data-url!=job.fbPostUrl, 
        data-title!=job.title, 
        data-media!=job.publishImgUrl
      )
    else 
      .addthis_inline_share_toolbox(
        data-url!=job.publishUrl, 
        data-title!=job.title, 
        data-description!=job.highlights, 
        data-media!=job.publishImgUrl
      )
