.panel.panel-default
  if (job.postType == 'FB')
    .panel-heading 
      h3.panel-title !{job.title}
    .panel-body
      .text-center
        .fb-post(data-href!=job.fbPostUrl)
  else if job.customContent
    .panel-heading 
      h3.panel-title !{job.title}
    .panel-body
      .custom-content.custom-content-raw !{job.customContent}
  else
    .panel-body
      .col-xs-4.col-xs-offset-4
        .text-center
          img.img-responsive.img-thumbnail(src!=job.publishImgUrl, alt="Post Image")
      .col-xs-12
        h3.text-center
          | !{job.title}
        h4.text-center
          | !{job.employerName}
        h5.text-center
          | Tempat Kerja: !{job.locationDisplay}
    table.post-detail.table
      if job.description
        tr
          th
            label.control-label Keterangan
        tr
          td
            | !{job.descriptionDisplay}
      if job.salary
        tr
          th
            label.control-label Gaji & Lain-lain Manfaat
        tr
          td
            | !{job.salary}
      tr
        th
          label.control-label Cara Memohon
      tr
        td
          | !{job.applyMethodDisplay}
      if job.closing
        tr
          td(align="center")
            strong Tarikh Tutup: !{job.closing}
  .panel-footer
    if (job.postType == 'FB')
      .addthis_inline_share_toolbox(
        data-url!=job.fbPostUrl, 
        data-title!=job.titleEncoded, 
        data-media!=job.publishImgUrl
      )
    else 
      .addthis_inline_share_toolbox(
        data-url!=job.publishUrl, 
        data-title=job.titleEncoded, 
        data-description=job.highlightsEncoded, 
        data-media!=job.publishImgUrl
      )
