extends ../layout


block content
  .container-fluid
    #searchPanel.col-sm-12.col-md-3
      .panel.panel-default
        .panel-heading
          .panel-title.hidden-xs.hidden-sm 
            strong Carian
          .panel-title.hidden-md.hidden-lg
            a(role="button", data-toggle="collapse", href="#searchPanelBody")
              strong Carian
        #searchPanelBody.panel-collapse.collapse.in
          .panel-body
            form.form-horizontal(id="searchForm")
              if (pageInfo && pageInfo.totalRow > 0)
                input(type='hidden', id='newPageNo', name='newPageNo')
              .form-group
                label.col-sm-12(for='searchTitle') Nama Jawatan: 
                .col-sm-12
                  input.form-control(type='text', name='searchTitle', id='searchTitle', placeholder='Search...', value=searchTitle)
              .form-group
                label.col-sm-12(for='searchLocation') Tempat Kerja: 
                .col-sm-12
                  .input-group
                    input.form-control(type='text', name='searchLocationDisplay', id='searchLocationDisplay', placeholder='Search...', value=searchLocationDisplay, disabled="disabled")
                    span.input-group-btn
                      button.btn.btn-primary(type='button', data-target="#locationOptions", data-toggle="collapse")
                        span.glyphicon.glyphicon-triangle-bottom
                  #locationOptions.collapse
                    .panel.panel-default
                      .panel-body
                        for option in locationOptions
                          .checkbox.col-sm-12
                            label.locationOptionLabel(for=option.value)
                              input.checkbox-input(type='checkbox', name='searchLocation', id=option.value, value=option.value checked=option.isSelected)
                              span #{option.label}
          .panel-footer
            .text-center
              button.btn.btn-primary-lighter.margin-xs(type='button', onclick="resetSearchForm()") Padam
              button.btn.btn-primary.margin-xs(type='button', onclick="submitViewList()") Hantar
      
    #listing.col-sm-12.col-md-6
      #pageHeader
        h3.text-center
          if title2
            = title2
          else
            = title

      if job_list
        table.post-list
          tbody
            each job in job_list
              if (job.postType == 'FB')
                tr
                  td(colspan="2", width="100%")
                    .panel.panel-default
                      .panel-heading 
                        h4.panel-title 
                          strong !{job.title}
                      .panel-body
                        .text-center
                          .fb-post(data-href!=job.fbPostUrl)
              else
                tr
                  td(width="25%")
                    img.img-thumbnail.img-responsive(src!=job.publishImgUrl, alt="Post Image")
                  td(width="75%")
                    .panel.panel-default.margin-bottom-sm
                      .panel-heading 
                        h4.panel-title 
                          a(role="button", href!=job.url)
                            strong !{job.title}
                      table.table.table-condensed
                        tr
                          td(width='100%')
                            | !{job.employerName}
                        if job.locationDisplay
                          tr
                            td 
                              | !{job.locationDisplay}
          tfoot
            tr
              td(colspan="2")
                include ../partials/pagination.pug
      else
        .text-center Tiada rekod.
      
    #adPanel.col-sm-12.col-md-3
      .panel.panel-default
        .panel-body
          img.img-responsive.center-block(src="images/ads/default.gif", alt="Advertisement Space")
  