extends ../layout


block content
  .page-header
    h3
      if title2
        = title2
      else
        = title
    .btn-toolbar(role="toolbar")
      .btn-group(role="group")
        a(href='#', onclick='showSearch()' class='btn btn-primary')
          span.glyphicon.glyphicon-search

  #listing.col-xs-12.col-sm-8.col-sm-offset-2
    each job in job_list
      include detail-template.pug
    else
      | Tiada rekod.

  #searchModal.modal.fade(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span &times;
          h4 Carian
        .modal-body
          form.form-horizontal(id="searchForm")
            .form-group
              label.col-sm-4(for='searchTitle') Nama Jawatan: 
              .col-sm-7
                input.form-control(type='text', name='searchTitle', id='searchTitle', placeholder='Search...', value=searchTitle)
            .form-group
              label.col-sm-4(for='searchEmployerName') Nama Majikan: 
              .col-sm-7
                input.form-control(type='text', name='searchEmployerName', id='searchEmployerName', placeholder='Search...', value=searchEmployerName)
            .form-group
              label.col-sm-4(for='searchLocation') Tempat Kerja: 
              .col-sm-7
                for option in locationOptions
                  .checkbox-inline
                    input.checkbox-input(type='checkbox', name='searchLocation', id=option.value, value=option.value checked=option.isSelected)
                    label(for=option.value) #{option.label}
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Tutup
          button.btn.btn-warning(type='button', onclick="resetSearchForm()") Padam
          button.btn.btn-primary(type='button', onclick="submitSearch()") Hantar
